@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Oswald:wght@200..700&family=Six+Caps&display=swap");

html {
  font-size: 16px;
}

h1 {
  font-family: "Six Caps", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 1.2rem;
}

h2 {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 0.5rem;
}

h3 {
  font-family: "Oswald", serif;
}

body section {
  column-count: 3;
}

#source {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: solid;
  padding: 2px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  display: inline-block;
}
