@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Open Sans", sans-serif;
}
#container {
  width: 80%;
  margin: 0 auto;
}

/* Tabs style */

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

li {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid #222;
  border-radius: 8px 8px 0 0;
  background-color: #ccc;
}

li + li {
  border-left: none;
}

div ul a {
  display: block;
  font-weight: bold;
  color: #222;
  text-decoration: none;
}

/* Content style */

div[role="tabpanel"] {
  border: 2px solid #222;
  border-radius: 0 8px 8px 8px;
  padding: 20px;
}

div[role="tabpanel"] + div[role="tabpanel"] {
  border-top: none;
}

div[role="tabpanel"] p {
  margin: 0;
}

/* Hide all tab content */
/* div[role="tabpanel"] {
  display: none;
} */

/* #tabpanel1,
#tabpanel2,
#tabpanel3 {
  display: none;
} */

/* only Show selected tab content */
/* when hover the tab menu */
/* Using only CSS, show div on hover over another element -> reference: https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-another-element  */
/* li:hover {
  background-color: #fff;
  cursor: auto;
}

li a[href="tabpanel1"]:hover + div#tabpanel1 {
  display: block;
}

li a[href="tabpanel2"]:hover + div#tabpanel2 {
  display: block;
}

li a[href="tabpanel3"]:hover + div#tabpanel3 {
  display: block;
} */

li:hover {
  background-color: #fff;
  border-bottom-color: #fff;
}
