@charset "utf-8";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
}

/* Set grid areas for the container */
#container {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 120px auto 100px;
  gap: 1rem;
}

/* Set gird areas for the header */
header {
  grid-area: header;
  background-color: aqua;
}

/* Set gird areas for the main layout */
main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

/* Target the asides */
main > aside {
  flex-basis: 0 0 20%;
  background-color: rgb(254, 241, 225);
  padding: 1rem;
}

/* Target the articles */
main > article {
  flex-basis: 0 0 80%;
  background-color: rgb(251, 151, 0);
  padding: 1rem;
}

/* Make each group stack vertically in their column */

/* Set gird areas for the footer, and style it */
footer {
  grid-area: footer;
  background-color: rgb(253, 219, 219);
}

/* Style the header text */
h1 {
  font-family: "pragmatica-extended", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4rem;
}
