@charset "UTF-8";
/* Add Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap");

/* Box-sizing reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Global styles */

body {
  font-family: inter, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  color: #666;
  margin: 80px auto 0 auto;
  background-color: #f1f9ff;
  background-image: url("img/css-pattern-by-magicpattern.png");
  /* Image reference: https://www.magicpattern.design/tools/css-backgrounds */
  background-repeat: repeat;
  background-color: rgba(241, 249, 255, 0.95);
  background-blend-mode: lighten;
}

/* hide skip link */
.skip-link {
  position: absolute;
  left: -1000px;
}

/* Style Separated areas */
header,
main > div > article > section:nth-of-type(1),
main > div > article > section:nth-of-type(2),
article#contribute,
aside.profile,
aside#styles {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffffe8;
  border-radius: 40px;
  padding: 60px;
  margin-bottom: 40px;
}
footer > div {
  background-color: #ffffffe8;
  padding: 60px 10%;
}

/* style general links */
a {
  color: #222;
}

/* style h2 */
h2 {
  color: #222;
  font-size: 36px;
  line-height: 48px;
}

/* style h3 */
h3 {
  color: #0065c5;
  font-size: 24px;
  line-height: 36px;
}

/* style h4 */
h4 {
  color: #222;
  font-size: 20px;
  line-height: 30px;
}

/* Header styles */
header .container {
  text-align: center;
}

header h1 {
  font-family: Lexend, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 5rem;
  margin: 4rem 0 3.13rem 0;
  /* Apply the gradient to the H1 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0468c6+0,bae2ff+100 */
  background: linear-gradient(
    to right,
    rgba(4, 104, 198, 1) 0%,
    rgba(186, 226, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

header h2 {
  color: #222;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 2.25rem;
}

header p {
  margin-bottom: 3.8rem;
}

header div a.link-github {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #0065c5;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding: 24px 48px;
  border-radius: 50px;
  margin-bottom: 4rem;
}

header div a svg {
  height: 1.2rem;
  margin-right: 0.5rem;
  /* Change the color of SVG. Reference site: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(99%) sepia(0%) saturate(1346%) hue-rotate(250deg)
    brightness(122%) contrast(100%);
}

/* Navigation styles */
nav {
  margin-bottom: 40px;
  display: block;
}

nav ul {
  display: flex;
  justify-content: space-between;
  position: static;
  list-style-type: none;
  margin: 0;
  padding: 36px 10%;
}

nav ul a {
  display: block;
  text-decoration: none;
  color: #666;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  margin: 10px;
}

/* Style Main Section 1 */
main > div > article > section:nth-of-type(1) h2 {
  margin: 0 0 1.25rem 0;
}

blockquote {
  background-color: #f1f9ff;
  margin: 20px 0 20px 0;
  padding: 24px;
  border-radius: 20px;
  color: #0065c5;
}

blockquote p strong,
blockquote a {
  color: #0065c5;
}

/* Style Main Section 2 */
main > div > article > section:nth-of-type(2) h2 {
  margin: 0 0 1.25rem 0;
}
main > div > article > section:nth-of-type(2) ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
main > div > article > section:nth-of-type(2) ul li {
  padding: 8px 20px;
  background-color: #eef6ff;
  border-radius: 10px;
  margin: 8px 8px 8px 0;
  color: #0065c5;
}

/* Style Guidelines */
article[id="guidelines"] p:nth-of-type(1) {
  margin-bottom: 40px;
}
article[id="guidelines"] a.link-guidelines {
  text-decoration: none;
  color: #fff;
  padding: 16px 32px;
  background-color: #0065c5;
  border-radius: 10px;
}

article[id="guidelines"] p:nth-of-type(4) {
  margin-bottom: 40px;
}
