@charset "utf-8";

/* Google Font */
.inknut-antiqua-bold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: aliceblue;
  box-sizing: border-box;
  background-color: #333;
  background-image: url("../images/bg.png");
  background-size: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#container {
  margin: 120px auto;
  width: 70%;
  display: grid;
  grid-template-areas:
    "left center right"
    "footer footer footer";
  grid-template-rows: auto 100px;
  grid-template-columns: 3fr 3fr 1fr;
  gap: 40px;
}

#center p,
#right p,
#left p,
h1 {
  margin: 0;
}

h1 {
  font-family: "Inknut Antiqua", serif;
  font-size: 4rem;
  color: #fed740;
  margin: 40px auto 20px;
}

#left {
  grid-area: left;
  text-align: center;
  background-color: rgba(57, 57, 57, 0.6);
  border-radius: 40px;
  min-width: 400px;
  /* margin: 0 40px auto 0; */
}

#left img {
  border-radius: 40px;
  margin-top: 40px;
}

#left img:hover {
  box-shadow: 3px 7px 54px 12px #fcef9a95;
}

#left p:nth-of-type(2) {
  color: rgba(255, 255, 255, 0.6);
  margin: 6px auto;
}

#center {
  grid-area: center;
  border-radius: 40px;
  background-color: rgba(57, 57, 57, 0.6);
  padding: 40px;
  min-width: 400px;
}

#center:hover {
  color: #fed740;
}

#right {
  grid-area: right;
  font-style: italic;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  margin: 40px auto auto 0;
  min-width: 160px;
}

#right p:hover {
  font-size: 1.2rem;
  color: aliceblue;
}

footer {
  grid-area: footer;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin: 80px auto auto;
}

/* style links */
a {
  text-decoration: none;
}

a:link {
  color: rgba(255, 255, 255, 0.7);
}

a:visited {
  color: #fed740;
}
